.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(241, 245, 237, 0.278);
    position: absolute;
    top: 0;
    left: 0;
  }
  